* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 255, 205);
}



/* aqui css de los productos del index.handlebars */
.container-product {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container-product h1 {
  color: rgb(9, 7, 7);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-product .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.container-product .container .card {

  background-color: rgba(183, 194, 190, 0.579);
}


.container-product .container .card .card-body h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(16, 19, 15);
}

.container-product .container .card .card-body .card-text {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container-product .container .card .card-body .addToCart {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 120px;
  height: 30px;
  background-color: rgba(19, 56, 19, 0.304);
}

/** mi register**/

.container-register {
  padding: 50px;
  background-color: rgb(207, 255, 205);
}

.container-register h1 {
  color: rgba(53, 42, 42, 0.483);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
}

.container-register .row {
  background-color: rgba(47, 72, 72, 0.419);
  padding: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.container-register .row .btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 120px;
  height: 50px;

  background-color: rgba(19, 56, 19, 0.304);
}

/* el login aqui */

.container-login {
  padding: 50px;
  background-color: rgb(207, 255, 205);
}

.img{
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.tex-img{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(53, 42, 42, 0.483);
  text-decoration: none;
  margin-right: 20px;
}

.container-login h1 {
  color: rgba(53, 42, 42, 0.483);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
}

.container-login .row {
  background-color: rgba(47, 72, 72, 0.419);
  padding: 30px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.container-login .row .btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 120px;
  height: 50px;
  background-color: rgba(19, 56, 19, 0.304);
}


/* css del profile*/


.container-profile {
  padding: 50px;
  background-color: rgb(207, 255, 205);
}

.container-profile .card {
  height: 400px;

  background-color: rgba(160, 180, 180, 0.623);
}

.container-profile .card .row {
  padding: 30px;
}

.container-profile .card .row .col-md-4 .img-fluid {
  border-radius: 20px;
}



/* Formulario - Chat  */


.container-chat {
  padding: 50px;
  background-color: rgb(207, 255, 205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-chat h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(53, 42, 42, 0.483);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
}

.container-chat .mb-3 {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.container-chat .btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 56, 19, 0.304);
}


.container-chat .container-chat {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 56, 19, 0.304);

}

.container-chat .container-chat .Lista{
  color: rgb(240, 242, 244);
}